
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-success m">
                <ul class="list-group d-flex flex-row gap-5">
                    <li class="list-group-item bg-light m-auto"><a class= "btn btn-outelt-success" routerLinkActive="active" routerLink="/home"> Home</a></li>
                    <li class="list-group-item bg-light m-auto"><a class= "btn btn-outelt-success" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"routerLink="/users">Users</a></li>
                    <li class="list-group-item bg-light m-auto"><a class= "btn btn-outelt-success" routerLinkActive="active"routerLink="/users/5">UsersDetails</a></li>
                    <li class="list-group-item bg-light m-auto"><a class= "btn btn-outelt-success" routerLinkActive="active"routerLink="/aasfdf">Error</a></li>
                </ul>
                
            </div>
        </div>
    </div>

</div>


